<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="container-fluid login-container">
        <div class="row">
          <div class="col-12">
            <div class="card login-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h1 class="integracoes"><strong>Integrações</strong></h1>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <app-login *ngIf="page === 'login'"></app-login>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col d-flex justify-content-center">
            <div class="need-help-box">Precisa de ajuda? <a target="_blank" rel="noopener nofollow" href="https://wa.me/5518996601119">Entre em contato!</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
