.nav-item-fixed-size {
  width: 100px;
}

.login-page-nav-button {
  width: 100%;
}

.login-container {
  max-width: 400px;
}

.integracoes {
  font-size: 24px;
}

.login-card {
  padding: 25px;
}

.need-help-box {
  font-size: 12px;
}

.need-help-box a {
  text-decoration: none;
  font-weight: bold;
}
