<form [formGroup]="userForm" (validSubmit)="login()">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail" formControlName="email">
  </div>
  <div class="form-group">
    <label for="pass">Senha</label>
    <div class="password-input">
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="pass" formControlName="pass">
      <button type="button" class="btn btn-outline-secondary password-eye-button" (click)="showPassword = !showPassword">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <small id="passHelp" class="form-text text-muted">Não passe a sua senha para ninguém.</small>
  </div>
  <button type="submit" class="btn btn-primary login-button" [disabled]="submited"><strong>Entrar</strong></button>
  <a href="#" class="mt-2 forget-password" style="float: right">Esqueceu sua senha?</a>
</form>
